<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class ="logo"
    src="/assets/img/rabobank-logo.png"
    alt="Rabobank"
    width="40"
  />

  <span>Welcome</span>
    <div class="spacer"></div>

</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>Please upload csv file</span>

  </div>

  <!-- input and view data -->
  <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
  <table  matSort (matSortChange)="sortData($event)" class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
    <tr>
      <th>First Name </th>
      <th>Sur Name </th>
      <th  mat-sort-header="issueCount">Issue Count </th>
      <th>Date of Birth </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of sortedData;let i = index;">
      <td> <span>{{record.firstName}}</span> </td>
      <td> <span>{{record.surName}}</span> </td>
      <td> <span>{{record.issueCount}}</span> </td>
      <td> <span>{{record.dob | date: 'dd-MMM-yyyy'}}</span> </td>
    </tr>
    </tbody>
  </table>

</div>
